@keyframes slideIn {
  0% {
    bottom: -107px;
  }
  100% {
    bottom: 0;
  }
}

.flyout,
.flyout_light {
  position: fixed;
  bottom: 0px;
  right: 5%;
  padding: 20px;
  border: 1px solid rgb(54, 54, 54);
  border-width: 1px 1px 0 1px;
  border-radius: 8px 8px 0 0;
  color: var(--text);
  animation:
    slideIn 500ms ease-in,
    ease-out;
}
.flyout {
  background: var(--flyout-background);
}
.flyout_light {
  --element-border: rgb(112, 97, 10);
  --text: #020202;
  --buttons-border: #100f47;
  background-color: #e2e2df;
}

.info {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  border-radius: 5px;
  border: 1px solid var(--buttons-border);
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  background-color: #7b87ba;
  cursor: pointer;
  transition: background-color 0.25s;
  color: #fff;
}

.button:hover {
  border-color: silver;
  background-color: rgb(165, 175, 221);
}
