main {
  --border-color: silver;
  --buttons-border: #e1e1e1;
  --text: #fff;
  --background: #353535;

  width: 100vw;
  height: 100vh;
  padding: 8px 0px;
  background-color: var(--background);
}
main.light {
  --border-color: rgb(54, 54, 54);
  --buttons-border: #100f47;
  --text: #1f0303;
  --background: #d4d4d4;
}

main.dark {
  --border-color: silver;
  --buttons-border: #e1e1e1;
  --text: #fff;
}

.search {
  display: flex;
  gap: 20px;
  padding: 10px 0 20px 40px;
  border-bottom: 1px solid var(--border-color);
}

.input_field {
  padding-left: 5px;
}

.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 280px;
  padding: 10px 40px;
  text-decoration: none;
}

.loading {
  margin: 20px 0 0 10px;
  text-decoration: none;
  color: var(--text);
}

button {
  border-radius: 5px;
  border: 1px solid var(--buttons-border);
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  background-color: #7b87ba;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:not(:disabled):hover {
  border-color: var(--border-color);
  background-color: rgb(165, 175, 221);
}

button:disabled {
  border-color: #7b87ba;
}

a {
  text-decoration: none;
}
