.star_wars_character {
  display: flex;
  min-width: 180px;
  padding: 6px 10px;
  margin: 3px 3px;
  object-fit: contain;
  text-decoration: none;
  border: 1px solid gold;
  border-radius: 3px;

  &:hover {
    background-color: #2e2525;
  }

  .name {
    color: gold;
  }
  .link {
    font-weight: 500;
  }
  .checkbox {
    accent-color: gold;
  }
}
