:root {
  --character-card-border: gold;
  --card-back-hover: #2e2525;
}

.star_wars_character,
.star_wars_character_light {
  display: flex;
  min-width: 180px;
  padding: 6px 10px;
  margin: 3px 3px;
  object-fit: contain;
  text-decoration: none;
  border: 1px solid var(--character-card-border);
  border-radius: 3px;

  &:hover {
    background-color: var(--card-back-hover);
  }

  .name {
    color: var(--character-card-border);
  }
  .link {
    font-weight: 500;
  }
  .checkbox {
    accent-color: var(--character-card-border);
    margin-right: 10px;
  }
}
.star_wars_character_light {
  --character-card-border: rgb(129, 29, 29);
  --card-back-hover: #2e2525;

  &:hover {
    background-color: #e2e2df;
  }
}
